$size: 25vh;

#loading-container {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  margin: 8px;
  margin-top: 8vh;
}

#status {
  height: 42px;
  font-size: 16px;
}

.hidden-pokemon {
  height: $size;
  width: $size;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: $size;
}

.reveal-pokemon {
  height: $size;
  width: $size;
}

.poke-buttons {
  button {
    margin-bottom: 8px;
    margin-right: 8px;
    width: 100px;
  }
}

.toolbar-spacer {
  flex: 1 1 auto;
}

h2 {
  font-weight: bold;
  font-size: 32px;
}

.text-correct {
  padding-top: 12px;
  font-size: 24px;
  color: #8bc34a;
  font-weight: bold;
}

.wrong-button {
  background-color: #f44336 !important;
}

.font-override {
  font-family: 'Source Sans Pro', sans-serif !important;
}
