<mat-toolbar color="primary">
  <b>Who's That Pokemon?!</b>
</mat-toolbar>
<mat-toolbar id="status" class="mat-elevation-z2">
  <span>Win: <b>{{ winCount }}</b> &nbsp; Lose: <b>{{ loseCount }}</b> &nbsp; Skip: <b>{{ skipCount }}</b></span>
  <span class="toolbar-spacer"></span>
  <button (click)="toggleAudio()" mat-icon-button>
    <mat-icon>{{ useAudio ? 'volume_up' : 'volume_off' }}</mat-icon>
  </button>
  <a href="." mat-icon-button>
    <mat-icon>refresh</mat-icon>
  </a>
</mat-toolbar>
<div *ngIf="loading" id="loading-container">
  <mat-spinner color="accent"></mat-spinner>
</div>
<div *ngIf="!loading" id="content" style="text-align:center" class="mat-typography">
  <div *ngIf="randomPokemon">
    <img *ngIf="!reveal"
      src="/assets/mask.png"
      [style.-webkit-mask-image]="randomPokemonImg"
      class="hidden-pokemon">
    <img *ngIf="reveal"
      [src]="randomPokemon.sprites.front_default"
      class="reveal-pokemon">
  </div>
  <mat-form-field *ngIf="!showCorrect" color="accent">
    <input [(ngModel)]="guess" matInput placeholder="I think this is..." autocomplete="off">
  </mat-form-field>
  <div *ngIf="!showCorrect" class="poke-buttons">
    <button (click)="guessPokemon()" mat-raised-button color="accent"
      [ngClass]="{'wrong-button': showWrong}">
      GUESS
    </button>
    <button (click)="skip()" mat-raised-button color="accent">SKIP</button>
    <br>
    <button (click)="getHint()" mat-raised-button color="accent" [disabled]="hints.length === 3 || hintLoading">GET HINT</button>
  </div>
  <h2 *ngIf="showCorrect">{{ capitalize(randomPokemon.name) }}</h2>
  <p *ngIf="showCorrect" class="text-correct">Correct!</p>
  <br>
  <p *ngFor="let hint of hints">{{ hint }}</p>
</div>
