<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Who's that Pokemon?!
  </h1>
  <p>Win: {{ winCount }} &nbsp; Lose: {{ loseCount }}</p>
  <div *ngIf="randomPokemon">
    <img class="hidden-pokemon"
      src="/assets/mask.png"
      [style.-webkit-mask-image]="randomPokemonImg">
  </div>
  <input [(ngModel)]="guess" type="text">
  <button (click)="guessPokemon()">Guess</button>
  <button (click)="getHint()">Get Hint</button>
  <p *ngIf="showCorrect">Correct!</p>
  <p *ngIf="showWrong">Wrong!</p>
  <p>{{ hint }}</p>
</div>
