$size: 25vh;

#content {
  margin: 8px;
  margin-top: 15vh;
}

#status {
  height: 42px;
  font-size: 16px;
}

.hidden-pokemon {
  height: $size;
  width: $size;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: $size;
}

.reveal-pokemon {
  height: $size;
  width: $size;
}

.poke-buttons {
  button {
    margin-bottom: 8px;
    margin-right: 8px;
  }
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.text-correct {
  padding-top: 12px;
  font-size: 36px;
  color: green;
  font-weight: bold;
}

.wrong-button {
  background-color: #f44336 !important;
}
