<div class="credits">
  <p>
    Made by <br>
    <b>Nadya Djojosantoso</b><br>
    (<a href="https://github.com/nadyafebi" target="_blank">@nadyafebi</a>)
  </p>
  <p>
    <a href="https://github.com/nadyafebi/whos-that-pokemon" target="_blank"><b>Source Code</b></a><br>
    MIT License
  </p>
  <p>
    Winner of "Best Game Hack" at "CodeDay Bay Area Fall 2018" hackathon.
  </p>
  <p>
    Pokémon names and images are trademarks of Nintendo.
  </p>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
